.header1-div{
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 2rem;
}

.logo span{
    font-family: 'Kaushan Script', cursive;
    background: -webkit-linear-gradient(rgb(243, 85, 85),#f1e4e5,#7bd9f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo svg>path{
    fill:#d3c6c6;
  }

  .header1-div button{
      background-color: #ED5358;
  }

  @media only screen and (max-width: 600px){
    .logo{
        font-size: 1.2rem;
    }

    .header1-div button{
        font-size: 1em;
        padding: 7px;
        background-color: #ED5358;
    }
}

  