.sidebar-container{
    /* width: 250px; */
    max-height: 100vh;
    background-color: #ED5358;
}

.sidebar{
    font-size: 2rem;
    height: 100vh;
    background-color: #ED5358;
}

.nav{
    /* padding-left: 4.5rem; */
    padding-top: 2rem;
}