.bg{
    width: 100%; 
    height: 100%; 
    min-width: 100%; 
    min-height: 100%; 
    position: relative;
}

.bg::before { 
    background-image: url('../images/eatingTogether.png'); 
    background-size: cover; 
    content: ""; 
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -2; 
    opacity: 0.2; 
} 


.signup-container{
    padding: 3%;
}

.signup-container h3{
    text-align: center;
}

.signup-container .signup-title p{
    text-align: end;
    font-size: 0.8em;
}

.signup-form-div{
    margin: auto;
    display: flex;
}

.signup-form-div form{
    width: 30em;
    margin: auto;
    margin-top: 1rem;
}

.signup-form-div form input, label{
    width: 100%;
}

.signup-form-div form label{
    margin-bottom: 10rem;
}

.signup-form-div form .form-control{
    margin-bottom: 1rem;
}

.signup-form-div form .form-control p{
    font-size: 0.9em;
    color: red;
    font-style: italic;
}

.signup-form-div form input{
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
}

.signup-btn-div{
    text-align: center;
}

.signup-btn-div .btn{
    background-color:  #ED5358;
    color: white;
}